// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #eff1f5; // light-gray-0
@light-gray:      #c0c5ce; // light-gray-1

@gray:            #65737e; // middle-gray-0
@dark-gray:       #3d464f; // middle-gray-1

@very-dark-gray:  #343d46; // dark-gray-0
@super-dark-gray: #2e3239; // dark-gray-1

@cyan:    #9e86c8;
@blue:    #6c99bb;
@purple:  #b05279;
@green:   #b4c973;
@red:     #d02000;
@orange:  #e87d3e;
@yellow:  #e5b567;

@light-orange: #e5b567; // yellow
